@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Serithai";
  src: url("/fonts/Serithai/Serithai-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Apply the Serithai font as the default font for the entire app */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Serithai", sans-serif;
}